:host::ng-deep {
  display: flex;
  flex-direction: column;
  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: white;
    padding: 0%;
  }
  .mat-select {
    border: groove;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 7px;
    background-color: white;
  }
  .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
    transform: none;
  }
}
