<div class="cvList">
  <button class="button-opened" mat-button (click)="openedCv()">cv</button>
</div>
<div *ngIf="isOpened" class="cv-profile">
  <app-cv-form class="cv-form" [cvs]="cvList"></app-cv-form>
  <div class="btn">
    <div class="save">
      <button mat-button type="submit">
        {{ 'buttons.save' | translate }}
      </button>
    </div>
    <div class="cancel">
      <button (click)="cancel()" mat-button type="button">
        {{ 'buttons.cancel' | translate }}
      </button>
    </div>
  </div>
</div>
