:host {
  display: block;
}
:host::ng-deep {
  .cv-form {
    display: flex;
    justify-content: space-between;
  }
  .button-opened {
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #1890ff;
    color: white;
  }
}
.btn {
  display: flex;
  justify-content: end;
  padding: 30px;
}
.save {
  margin-right: 10px;
  background-color: #1890ff;
  color: white;
}
