:host {
  display: block;
}
:host::ng-deep {
  .cv-form {
    display: flex;
    justify-content: space-between;
  }
  .cv-profile {
    display: flex;
    justify-content: space-between;
  }
  .button-opened {
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #1890ff;
    color: white;
  }
  .add-new-cv {
    background-color: #f0f2f5;
    margin: 30px;
  }
  .mat-raised-button {
    display: block;
    background-color: #1890ff;
    color: white;
    margin-left: auto;
    margin-bottom: 10px;
  }
}
.btn {
  display: flex;
  justify-content: end;
  padding: 30px;
}
.save {
  margin-right: 10px;
  background-color: #1890ff;
  color: white;
}
.buttons-cv {
  display: block;
  .button-cv {
    display: flex;
    flex-direction: column;
    width: max-content;
    background-color: #1890ff;
    color: white;
    margin: 20px;
    border-radius: 5px;
  }
}
