.project-list {
  align-items: baseline;
  margin: 30px;
  .project-table {
    padding-top: 40px;
    padding: 20px;
    background-color: white;
  }
}

.mat-raised-button {
  display: block;
  background-color: #1890ff;
  color: white;
  margin-left: auto;
  margin-bottom: 10px;
}
