<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" #sidenav mode="side" [(opened)]="isToogle">
    <div class="button-menu">
      <button class="button-side-bar" [routerLink]="dashboardRoute">
        <mat-icon>speed</mat-icon>
        <p class="button-text">{{ 'side-bar.dashboard' | translate }}</p>
      </button>
      <button class="button-side-bar" [routerLink]="employeesRoute">
        <mat-icon>edit</mat-icon>
        <p class="button-text">{{ 'side-bar.employees' | translate }}</p>
      </button>
      <button class="button-side-bar" [routerLink]="projectRoute">
        <mat-icon>storage</mat-icon>
        <p class="button-text">{{ 'side-bar.projects' | translate }}</p>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <app-breadcrumbs></app-breadcrumbs>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
