:host {
  height: 100%;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  background-color: white;
  width: 201px;
}

.btn-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button-side-bar {
  display: flex;
  align-items: center;
  column-gap: 7px;
  background-color: white;
  border: none;
  margin: 10px;

  &:hover {
    cursor: pointer;
  }
  .button-text {
    margin: 0;
  }
}

mat-sidenav,
.button-side-bar:focus {
  color: #1890ff;
}

mat-toolbar {
  width: 200px;
  background-color: white;
}

mat-sidenav-content {
  background-color: #f0f2f5;
}
.mat-drawer-content {
  position: absolute;
  width: -webkit-fill-available;
}
