.employees-list {
  align-items: baseline;
  margin: 30px;
  .employees-table {
    padding-top: 40px;
    padding: 20px;
    background-color: white;
  }
  button {
    display: block;
    background-color: #1890ff;
    color: white;
    margin-left: auto;
    margin-bottom: 10px;
  }
}
