:host {
  width: 100%;
}
h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}
input {
  width: 100%;
}
.example-icon {
  float: right;
  margin: 10px;
}
.main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  .auth {
    padding: 50% 0;

    .btn-primary {
      width: 100%;
      background-color: #1890ff;
      color: white;
    }
    .form-group {
      width: 100%;
    }
  }
}
.example-section {
  margin: 20px;
}
