:host::ng-deep {
  background-color: #f0f2f5;

  .main {
    display: block;
    align-items: center;
    .auth {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        font-size: 40px;
        margin-top: 20%;
      }
      .form-group {
        display: flex;
        flex-direction: column;
        .btn-primary {
          color: white;
          background-color: #1890ff;
        }
      }
    }
  }
}
.example-icon {
  float: right;
  margin: 10px;
}
