<div class="form-add">
  <form class="info" [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <app-input
        class="form-field"
        formControlName="firstName"
        [label]="'employee-form.first-name' | translate"
      ></app-input>
      <app-input
        class="form-field"
        formControlName="lastName"
        [label]="'employee-form.last-name' | translate"
      ></app-input>
      <app-input
        *ngIf="used"
        class="form-field"
        type="password"
        formControlName="password"
        [label]="'employee-form.password' | translate"
      ></app-input>
      <app-input
        class="form-field"
        formControlName="email"
        [label]="'employee-form.email' | translate"
      ></app-input>
      <app-input
        *ngIf="used"
        class="form-field"
        formControlName="institution"
        [label]="'employee-form.institution' | translate"
      ></app-input>
      <app-input
        *ngIf="used"
        class="form-field"
        formControlName="diplomaProfession"
        [label]="'employee-form.diploma' | translate"
      ></app-input>
      <app-input-autocomplete
        class="form-field"
        formControlName="skills"
        [allChips]="allSkills"
        [title]="'employee-form.skills' | translate"
      >
      </app-input-autocomplete>
      <app-input-select
        *ngIf="used"
        class="form-field"
        formControlName="role"
        [selects]="allRoles"
        [title]="'employee-form.role' | translate"
      >
      </app-input-select>
      <app-input
        class="form-field"
        formControlName="department"
        [label]="'employee-form.department' | translate"
      ></app-input>
      <app-input-autocomplete
        *ngIf="used"
        class="form-field"
        formControlName="languages"
        [allChips]="allLanguages"
        [title]="'employee-form.languages' | translate"
      >
      </app-input-autocomplete>
    </div>
    <div *ngIf="useButton" class="btn">
      <div class="save">
        <button mat-button type="submit">
          {{ 'buttons.save' | translate }}
        </button>
      </div>
      <div class="cancel">
        <button (click)="cancel()" mat-button type="button">
          {{ 'buttons.cancel' | translate }}
        </button>
      </div>
    </div>
  </form>
</div>
