<div class="form-list">
  <form class="info" [formGroup]="form">
    <div class="form-group">
      <app-input
        class="form-field"
        formControlName="name"
        [label]="'project-info.name' | translate"
      ></app-input>
      <app-input
        class="form-field"
        formControlName="secondName"
        [label]="'project-info.second-name' | translate"
      ></app-input>
      <app-datepicker
        class="form-field"
        formControlName="startDate"
        [label]="'project-info.start-date' | translate"
      ></app-datepicker>
      <app-datepicker
        class="form-field"
        formControlName="endDate"
        [label]="'project-info.end-date' | translate"
      ></app-datepicker>
      <app-input
        class="form-field"
        formControlName="teamSize"
        [label]="'project-info.team-size' | translate"
      ></app-input>
      <app-input
        class="form-field"
        formControlName="tasksPerformed"
        [label]="'project-info.tech-stack' | translate"
      ></app-input>
      <app-input
        class="form-field"
        formControlName="description"
        [label]="'project-info.description' | translate"
      ></app-input>
      <app-input-autocomplete
        class="form-field"
        formControlName="specializations"
        [options]="allSpecializations"
        [title]="'project-page.specialization' | translate"
      >
      </app-input-autocomplete>
      <app-input-autocomplete
        class="form-field"
        formControlName="projectRoles"
        [title]="'project-info.roles' | translate"
        [options]="allRoles"
      ></app-input-autocomplete>
      <app-input-autocomplete
        class="form-field"
        formControlName="responsibilities"
        [title]="'project-info.responsibilities' | translate"
        [options]="allResponsibilities"
      ></app-input-autocomplete>
    </div>
    <div class="buttons">
      <div class="save">
        <button (click)="submit()" mat-button type="submit">
          {{ 'buttons.save' | translate }}
        </button>
      </div>
      <div class="cancel">
        <button (click)="cancel()" mat-button type="button">
          {{ 'buttons.cancel' | translate }}
        </button>
      </div>
    </div>
  </form>
</div>
