:host::ng-deep {
  display: flex;
  flex-direction: column;
  margin: 50px;

  input {
    border: 2px;
  }
  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #f0f2f5;
    padding: 0%;
  }
}
