<div class="formControl" [ngClass]="{ invalid: control?.touched && control?.invalid }">
  <label for="name">{{ label }}</label>
  <mat-form-field>
    <input matInput [formControl]="control" type="text" />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div *ngIf="control?.touched && control?.invalid" class="validation">
    <small *ngIf="control?.errors?.required">{{ required | translate }}</small>
  </div>
</div>
