:host::ng-deep {
  .formControl {
    display: flex;
    flex-direction: column;
  }

  .mat-input-element {
    border: groove;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 7px;
    background-color: white;
  }
}
