.breadcrumb-wrapper {
  display: flex;
  column-gap: 0px;
  background-color: white;
  font-size: 15px;
  margin: 0;
  position: static;
  height: 136px;
  left: 0px;
  right: 0px;
  top: 0px;
  margin-bottom: 20px;
  border: none;
  .page-title {
    font-size: 40px;
  }
  .page-description {
    font-size: 20px;
  }
  .breadcrumb {
    display: flex;
    column-gap: 0px;
    span {
      color: darkgrey;
      cursor: pointer;
    }
    span:hover {
      color: black;
      text-decoration: none;
    }
    li {
      list-style: none;
      float: left;
      margin: 5px;
    }
    li:last-child span {
      color: black;
      margin-right: 20px;
    }
    li::after {
      content: '/';
      color: darkgrey;
      margin: 5px;
    }
    li:last-child::after {
      content: '';
    }
  }
}
