.breadcrumb-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  column-gap: 0px;
  background-color: white;
  font-size: 15px;
  margin: 0;
  position: static;
  height: 136px;
  left: 0px;
  right: 0px;
  top: 0px;
  margin-bottom: 20px;
  border: none;
  .page-title {
    font-size: 35px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-top: 20px;
  }
  .page-description {
    font-size: 15px;
    font-weight: 400;
    margin-left: 30px;
  }
  .breadcrumb {
    display: flex;
    column-gap: 0px;
    margin: 10px;
    .breadcrumb-link {
      color: darkgrey;
      cursor: pointer;
    }
    .breadcrumb-link:hover {
      color: black;
      text-decoration: none;
    }
    .bradcrumbs-list {
      list-style: none;
      float: left;
      margin: 5px;
    }
    .bradcrumbs-list:last-child .breadcrumb-link {
      color: black;
      margin-right: 20px;
    }
    .bradcrumbs-list::after {
      content: '/';
      color: darkgrey;
      margin: 5px;
    }
    .bradcrumbs-list:last-child::after {
      content: '';
    }
  }
}
